// dependencies
@import '../variables'

button
  border: 1px solid white
  background-color: transparent
  color: white
  padding: .75rem 2rem
  border-radius: 8px
  font-size: .8rem
  letter-spacing: 2px
  font-weight: $veryBold
  cursor: pointer
  &:hover
    border: 1px solid white
    background-color: #fff
    color: $darkText
    text-decoration: underline
