// dependencies
@import 'variables'

// reset & main styles
*
  margin: 0
  padding: 0
  list-style: none
  box-sizing: border-box
  text-decoration: none
  outline: none

body
  width: 100vw
  height: 100vh
  overflow: hidden
  font-family: $font
  background-image: $background
  background-position: center
  background-repeat: no-repeat
  .container
    text-align: center
  .game
    overflow: auto

// page transition effect
.page-transition
  position: absolute
  width: 100vw
  height: 100vh
  background-color: $yellow
  left: -100%
  z-index: 99

.slide
  animation: slide .75s
  animation-iteration-count: 1
  animation-fill-mode: forwards

// animation 
@keyframes slide
  0%
    left: -100%
  40%
    left: 0%
  60%
    left: 0%
  100%
    left: 100%
