// dependencies
@import '../variables'

// login page
form
  overflow: hidden
  padding-top: 15px

.login
  height: 90vh
  width: 80%
  max-width: 450px
  margin: 0 auto
  text-align: center
  img
    margin: 90px 0
    width: 300px
  input[type=text]
    width: 100%
    height: 50px
    margin-bottom: 25px
    padding-left: 15px
    font-size: 18px
    background-color: transparent
    border: none
    border-bottom: 1.5px solid white
    color: $yellow
    &:focus
      outline: none
    &::placeholder
      color: #e9e9e9
      font-size: 14px
  input[type=submit]
    padding: 1rem 3rem
    border-radius: 5px
    border: none
    background-color: $yellow
    text-transform: uppercase
    letter-spacing: 2px
    font-weight: $veryBold
    color: $darkText
    margin-top: 70px
    border: 1.5px solid $yellow
    cursor: pointer
    transition: background-color .25s, color .25s
    &:active
      outline: none
    &:hover
      background-color: transparent
      color: $yellow
      border: 1.5px solid $yellow
      outline: none

// for Effects
// label
.label-top
  position: absolute
  top: -10px
  font-size: .8rem
  left: 22px
  color: rgba(255, 255, 255, .3)
  font-weight: $regular
  transition: top .3s, left .3s, font-size .3s
  user-select: none
  z-index: -1

.label
  position: absolute
  top: 20px
  left: 20px
  color: white
  font-weight: $regular
  user-select: none
  transition: top .3s, left .3s, font-size .3s
  z-index: -1

// cancel button
.login form div .cancel
  position: absolute
  margin: 0
  width: 10px
  height: 10px
  top: 20px
  left: 95%
  display: none
  cursor: pointer

// input border
.login form .input-border
  border-bottom: 1.5px solid $yellow
  position: absolute
  left: -100%
  transition: left .5s
